@model CardGames.MVC.Models.CardGames.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>

    </dl>
</div>

<div>
    <h3>Editions</h3>

    <p>
        @Html.ActionLink("Create New", "Create", "Editions", new { id = Model.Id }, null)
    </p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                ReleaseYear
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Editions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Editions", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Editions", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Editions", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
