@using CardGames.MVC.Models.CardGames
@model CardInCardList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Number
        </dt>

        <dd>
            @Model.Number
        </dd>

        <dt>
            Edition
        </dt>
            
        <dd>
            @Model.CardList.Name
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Model.Card.Name
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Model.Card.Description
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CardId }) |
    @Html.ActionLink("Back to List", "Details", "Editions", new { id = ((EditionCardList)Model.CardList).Editions.First().Id }, null)
</p>
