@model CardGames.MVC.Models.CardGames.AddCardViewModel

@{
    ViewBag.Title = "AddCard";
}

<h2>AddCard to collection: @ViewBag.Collection.Name</h2>


@using (Html.BeginForm("AddCard", "Collections", null, FormMethod.Post, new { id = "AddCard" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Choose card</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.CollectionId)

        <div class="form-group">
            @Html.Label("Choose Game", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("GameId", null, htmlAttributes: new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Choose Edition", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EditionId", null, "-- SELECT --", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Choose Card", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CardId", null, "-- SELECT --", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" }})
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add card" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#GameId").change(function () {
            $("#CardId").val("");
            $("#AddCard").submit();
        });

        $("#EditionId").change(function () {
            $("#CardId").val("");
            $("#AddCard").submit();
        });
    </script>
}
