@model CardGames.MVC.Models.CardGames.Edition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Edition</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>

    </dl>
</div>

<h3>Card List</h3>

<p>
    @Html.ActionLink("Create new card", "Create", "Cards", new {id = Model.Id}, null)
</p>

<table class="table">
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model.EditionCardList.CardInCardLists)
    {
        <tr>
            <td>@item.Number</td>
            <td>@item.Card.Name</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Cards", new {id = item.CardId}, null) |
                @Html.ActionLink("Details", "Details", "Cards", new {id = item.CardId}, null) |
                @Html.ActionLink("Delete", "Delete", "Cards", new {id = item.CardId}, null)
            </td>
        </tr>
    }

</table>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Details", "Games", new { id = Model.GameId }, null)
</p>
